<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-8">
   <p>I am in the high school graduating class of 2018. After graudating, I will be attending the University Of Utah to major in Biology. I will then continue on to Medical school to become a Dermatologist. My goals are to travel the world and meet new people while going to college.  </p>

    <p>With this goal in mind, I have many other goals and dreams I would like to achieve. Some of these are opening my own dermatology clinic in the future, helping people from differnet countries while traveling, and also meeting some of the people who influenced me to want to be who I am today and will be in the future.  </p>
  </div>
</div>
