<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-8">
   <p>I am in the high school graduating class of 2018. After graudating, I will be attending the University Of Utah to major in Biology. I will then continue on to Medical school to become a Dermatologist. I enjoy photography and traveling.</p>

    <p>I have many goals and dreams I would like to achieve. Some of these are opening my own dermatology clinic in the future, traveling the world, and also meeting some of the people who influenced me to want to be who I am today and will be in the future.  </p>
  </div>
</div>

 <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>